<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>OnLineShop</h1>
  </div>
  <div class="nav">
    <p><a href="/">Home</a> > <a href="/sell">Sell</a> > <a href="/viewproduct/">View Product</a> > <a href="/viewproduct/{{prodID}}">{{name}}</a> > <a href="">Edit</a></p>
  </div>
  <h2>Edit Product</h2>
  <form action="" method="POST">
    <table>
      <tr>
        <td>NAME :</td><td><input type="text" name="name" value="{{name}}" required></td>
      </tr>
      <tr>
        <td>QUANTITY :</td><td><input type="number" name="qty" value="{{qty}}" min="0" required></td>
      </tr>
      <tr>
        <td>CATEGORY :</td>
        <td><select name="category" required>
          <option value="Nutritious Formulations" {% if category=="Nutritious Formulations" %}selected{% endif %}>Nutritious Formulations</option>
          <option value="Groceries" {% if category=="Groceries" %}selected{% endif %}>Groceries</option>
          <option value="Latest" {% if category=="Latest" %}selected{% endif %}>Latest</option>
          <option value="Somarasa" {% if category=="Somarasa" %}selected{% endif %}>Somarasa</option>
          <option value="Essential Oil & Vaporisers" {% if category=="Essential Oil & Vaporisers" %}selected{% endif %}>Essential Oil & Vaporisers</option>
          <option value="Blankets and Shawls" {% if category=="Blankets and Shawls" %}selected{% endif %}>Blankets and Shawls</option>
          <option value="Oils" {% if category=="Oils" %}selected{% endif %}>Oils</option>
          <option value="Herbal Teas" {% if category=="Herbal Teas" %}selected{% endif %}>Herbal Teas</option>
          <option value="Other items" {% if category=="Other items" %}selected{% endif %}>Other items</option>
        </select></td>
      </tr>
      <tr>
        <td>PRICE :</td><td><input type="number" name="price" value="{{price}}" min="0" required></td>
      </tr>
      <tr>
        <td>DESCRIPTION :</td><td><textarea name="desp">{{desp}}</textarea></td>
      </tr>
    </table>
    <input type="submit" value="Apply Changes" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;">
  </form>
</body>
</html>
